.nav {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  cursor: pointer;
}

.intro {
  color: #ffc800;
  font-size: larger;
}

.content {
  color: black;
  font-weight: bold;
  width: 486px;
}

.content>p {
  color: gray;
  font-weight: lighter;
}
