.nav {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  cursor: pointer;
  position: absolute;
  width: calc(100% - 40px);
  background-color: #ffffff5e;
  padding: 20px
}

h3 {
  color: #FDC435;
  font-size: larger;
}

.content {
  color: black;
  font-weight: bold;
  max-width: 486px;
}

.content>p {
  display: flex;
  color: #828282;
  font-weight: lighter;
}

.button {
  display: inline-block;
  background-color: #FDC435;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  width: 90px;
  color: black;
  border:1px solid transparent;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #a09f9f;
  transition: 0.3s;
}

.button2 {
  background-color: white;
  border: 1px solid black;
}

.wrapper{
  display: flex;
}

.wrapper>*{
  width:50%
}

body{
  margin:0;
}
