.nav {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  cursor: pointer;
}

.intro {
  display: flex;
  color: #FDC435;
  font-size: larger;
}

.content {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  width: 486px;
}

.content>p {
  display: flex;
  color: #828282;
  font-weight: lighter;
}

.button {
  display: inline-block;
  flex-direction: column;
  background-color: #FDC435;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

a {
  text-decoration: none;
}
